@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.max-width2 {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* navbar2 styling */
.navbar2 {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}

.navbar2.sticky2 {
  padding: 15px 0;
  background: black;
}

.navbar2 .max-width2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar2 .logo2 a {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.navbar2 .logo2 a span {
  color: #887528;
  transition: all 0.3s ease;
}

.navbar2.sticky2 .logo2 a span {
  color: white;
}

.navbar2 .menu2 li {
  list-style: none;
  display: inline-block;
}

.navbar2 .menu2 li a {
  display: block;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar2 .menu2 li a:hover {
  color: #887528;
}

/* End Navbar2 */

/* menu btn styling */
.menu-button {
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* menu btn end */

/* scroll up btn */
.scroll-up-btn {
  position: fixed;
  right: 25px;
  bottom: 35px;
  text-align: center;
  line-height: 45px;
  color: #887528;
  z-index: 9999;
  font-size: 30px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn:hover {
  color: black;
  border-color: black;
  text-shadow: 1px 1px 0px #fff;
}

.scroll-up-btn::before {
  content: "▲";
  font-size: 0.9em;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -0.7em;
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: solid 0.13em #887528;
  border-radius: 10em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.3em;
  border-color: inherit;
  transition: transform 0.5s ease-in;
}
.scroll-up-btn::after {
  content: "Back to top";
  font-size: 15px;
  position: relative;
  left: 5px;
  top: 28px;
}
.scroll-up-btn:hover:before {
  transform: rotate(360deg);
}

.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
}

/* scroll up btn end */

/* Home styling */
.home2 {
  display: flex;
  background: url(img/banner4.jpg) no-repeat center;
  height: 100vh;
  color: white;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home2 .max-width2 {
  margin: auto 0 auto 40px;
}

.home2 .home-content .text-1 {
  font-size: 27px;
}
.home2 .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home2 .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home2 .home-content .text-3 span {
  color: #887528;
  font-weight: 500;
}

.home2 .home-content a {
  display: inline-block;
  background: #887528;
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #887528;
  transition: all 0.3s ease;
}

.home2 .home-content a:hover {
  color: #887528;
  background: none;
}
/* semua kode yang sama */
section {
  padding: 100px 0;
}
.about,
.services,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  text-align: center;
  font-size: 40px;
}
.divider-custom {
  margin: 0.15rem 0 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 5rem;
  height: 0.25rem;
  background-color: #887528;
  border-radius: 1rem;
  border-color: #887528;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #887528;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}
/* about section styling */

.about .title::after {
  content: "";
}

.about .about-content .left2 {
  width: 45%;
}
.about .about-content .left2 img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.about .about-content .right2 {
  width: 55%;
}

.about .about-content .right2 .text2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right2 .text2 span {
  color: #887528;
}

.about .about-content .right2 p {
  text-align: justify;
}

.about .about-content .right2 a {
  display: inline-block;
  background: #887528;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #887528;
  transition: all 0.3s ease;
}

.about .about-content .right2 a:hover {
  color: #887528;
  background: none;
}

/* about section styling end */

/* services styling start */
.services,
.projects {
  color: white;
  background: #111;
}
.services .title::before,
.projects .title::before {
  background: white;
}
.services .title::after,
.projects .title::after {
  background: #111;
  content: "";
}
.services .serv-content .card2 {
  width: calc(33% - 20px);
  background-color: #222;
  text-align: center;
  border-radius: 10px;
  padding: 20px 25px;
  cursor: pointer;
}
.services .serv-content .card2:hover {
  background: #887528;
}
.services .serv-content .card2 .box2 {
  transition: all 0.3s ease;
}
.services .serv-content .card2:hover .box2 {
  transform: scale(1.05);
}

.services .serv-content .card2 i {
  font-size: 50px;
  color: #887528;
  transition: color 0.3s ease;
}
.services .serv-content .card2:hover i {
  color: white;
}

.services .serv-content .card2 .text2 {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/* services styling end */

/* skills styling start */
.skills .title::after {
  content: "";
}
.skills .skills-content .column2 {
  width: calc(50% - 30px);
}
.skills .skills-content .left2 .text2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left2 p {
  text-align: justify;
}
.skills .skills-content .left2 a {
  display: inline-block;
  background: #887528;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #887528;
  transition: all 0.3s ease;
}
.skills .skills-content .left2 a:hover {
  background: none;
  color: #887528;
}
.skills .skills-content .right2 .bars2 {
  margin-bottom: 15px;
  overflow: hidden;
}
.skills .skills-content .right2 .bars2.show {
  margin-bottom: 15px;
}
.skills .skills-content .right2 .info2 {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right2 span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right2 .line2 {
  height: 5px;
  width: 100%;
  background: rgb(192, 183, 183);
  position: relative;
}
.skills .skills-content .right2 .line2::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}

@keyframes move-toRight {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0px);
  }
}

.skills-content .right2.loading .html::before {
  width: 85%;
  animation: move-toRight 5s ease;
}

.skills-content .right2.loading .css::before {
  width: 70%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .js::before {
  width: 55%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .php::before {
  width: 65%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .nodejs::before {
  width: 50%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .mysql::before {
  width: 75%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .bootstrap::before {
  width: 70%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .laravel::before {
  width: 70%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .premiere::before {
  width: 85%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .photoshop::before {
  width: 80%;
  animation: move-toRight 5s ease;
}
.skills-content .right2.loading .msoffice::before {
  width: 80%;
  animation: move-toRight 5s ease;
}
/*  */

/*  */

/* skills styling end */

/* projects styling start */
.projects .title::after {
  content: "";
}
.projects .carousel .card2 {
  background: #222;
  border-radius: 10px;
  /* height: ; */
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.projects .carousel .card2:hover {
  background: #887528;
}

.projects .carousel .card2 .box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.projects .carousel .card2:hover .box2 {
  transform: scale(1.05);
}
.projects .carousel .card2 .text2 {
  font-size: 25px;
  font-weight: 500;
  color: white;
  margin: 10px 0 7px 0;
}
.projects .carousel .card2 p {
  color: white;
}
.projects .carousel .card2 img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #887528;
}
.projects .carousel .card2:hover img {
  border-color: white;
}

/*  */
/*  */
/*  */

.lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: #ffffff;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 1px solid #000000;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 40px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: #000000;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: #000000;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.lightbox-target:target img {
  max-height: 80%;
  max-width: 80%;
}

input[type="checkbox"] {
  display: none;
}
.lightbox-target:target img {
  margin: auto;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}
input[type="checkbox"]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}

.lightbox-target:target a.lightbox-close {
  top: 80px;
}
/*  */
/*  */
/*  */
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #887528 !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #887528 !important;
}

/* projects styling end */

/* contact stylin start */
.contact .title ::after {
  content: "";
}
/* .contact .title i {
  padding-top: 500px;
} */
.contact .contact-content .column2 {
  width: calc(50% - 30px);
}
.contact .contact-content .text2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left2 p {
  text-align: justify;
}
.contact .contact-content .left2 .icons2 {
  margin: 10px 0;
}
.contact .contact-content .row2 {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row2 .info2 {
  margin-left: 30px;
}

.contact .contact-content .row2 i {
  font-size: 25px;
  color: #887528;
}

.contact .contact-content .info2 .head2 {
  font-weight: 500;
}
.contact .contact-content .info2 .sub-title {
  color: #333;
}
.contact .right2 form .fields2 {
  display: flex;
}
.contact .right2 form .field2,
.contact .right2 form .fields2 .field2 {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right2 form .textarea2 {
  height: 80px;
  width: 100%;
}
.contact .right2 form .name2 {
  margin-right: 10px;
}
.contact .right2 form .email2 {
  margin-left: 10px;
}
.contact .right2 form .field2 input,
.contact .right2 form .textarea2 textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.contact .right2 form .textarea2 textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right2 form .button2 {
  height: 47px;
  width: 170px;
}
.contact .right2 form .button2 button {
  width: 100%;
  height: 100%;
  border: 2px solid #887528;
  background: #887528;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right2 form .button2 button:hover {
  color: #887528;
  background: none;
}
.alert {
  padding: 20px;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.closebtn {
  margin-left: 15px;
  color: 155724;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.buttonload {
  background-color: #04aa6d; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}
/* contact stylin end */
/* footer */
footer {
  background: #111;
  padding: 20px 23px;
  text-align: center;
  color: white;
}
footer span a {
  color: #887528;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/* responsive media query */
@media (max-width: 1300px) {
  .home2 .max-width2 {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left2 img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width2 {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .menu-button {
    display: block;
    z-index: 999;
  }

  .menu-button i.active:before {
    content: "\f00d";
  }

  .navbar2 .menu2 {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #3b3b3b;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar2 .menu2.active {
    left: 0;
  }
  .navbar2 .menu2 li {
    display: block;
  }
  .navbar2 .menu2 li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home2 .home-content .text-2 {
    font-size: 60px;
  }
  .home2 .home-content .text-3 {
    font-size: 20px;
  }
  .home2 .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width2 {
    max-width: 800px;
  }
  .about .about-content .column2 {
    width: 100%;
  }
  .about .about-content .left2 {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right2 {
    flex: 100%;
  }
  .services .serv-content .card2 {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column2,
  .contact .contact-content .column2 {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width2 {
    padding: 0 23px;
  }
  .home2 .home-content .text-2 {
    font-size: 55px;
  }
  .home2 .home-content .text-3 {
    font-size: 20px;
  }
  .home2 .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card2 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home2 .home-content .text-2 {
    font-size: 50px;
  }
  .home2 .home-content .text-3 {
    font-size: 16px;
  }
}
